<!DOCTYPE html>
	<html>
	    <head></head>
	    <body>
	        <div id="game"></div>
	        <script src="//cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
	        <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
        <script>

            const phaserConfig = {
                type: Phaser.AUTO,
                parent: "game",
                width: 1280,
                height: 720,
                backgroundColor: "#E7F6EF",
                physics: {
                    default: "arcade",
                    arcade: {
                        gravity: { y: 200 }
                    }
                },
                dom: {
                    createContainer: true
                },
                scene: {
                    init: initScene,
                    preload: preloadScene,
                    create: createScene
                }
            };

            const game = new Phaser.Game(phaserConfig);

            function initScene() {
	    this.socket = io("http://localhost:3000", { autoConnect: false });
	    this.chatMessages = [];
	}
    function preloadScene() {
	    this.load.html("form", "form.html");
	    this.load.image("leaf", "leaf.png");
	}
    function createScene() {
	
	    this.leafGroup = this.physics.add.group({
	        defaultKey: "leaf",
	        maxSize: 15
	    });
	
	    for(let i = 0; i < 15; i++) {
	        let randomX = Math.floor(Math.random() * 1000);
	        let randomY = Math.floor(Math.random() * 600);
	        let randomVelocityX = Math.floor(Math.random() * 2);
	        this.leafGroup.get(randomX, randomY)
	            .setScale(0.2)
	            .setVelocity([-100, 100][randomVelocityX], 200)
	            .setBounce(1, 1)
	            .setCollideWorldBounds(true)
	    }
	
	    // Chat and socket logic ...
	}

        </script>
	    </body>
	</html>